<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-2876079-11"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-2876079-11");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="twos.dev" />
    <link rel="icon" href="favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="twos.dev"
      href="/feed.rss"
    />
    <title>twos.dev</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <header>
        &larr; <a href="index.html">twos.dev</a>
        
      </header>
      <article><!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-2876079-11"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-2876079-11");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="{{.Title}}" />
    <link rel="icon" href="favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="twos.dev"
      href="/feed.rss"
    />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <header>
        &larr; <a href="index.html">twos.dev</a>
        {{if .CreatedAt}} / {{.CreatedAt}} {{if .UpdatedAt}} (updated
        {{.UpdatedAt}}){{end}} {{end}}
      </header>
      <article>{{.Body}}</article>
      <footer>
        &larr; <a href="index.html">twos.dev</a> / {{if .SourceURL}}
        <a href="{{.SourceURL}}">Source</a>
        {{else}}
        <a href="https://github.com/glacials/twos.dev">Source</a>
        {{end}}
      </footer>
    </div>
  </body>
</html>
</article>
      <footer>
        &larr; <a href="index.html">twos.dev</a> / 
        <a href="https://github.com/glacials/twos.dev/blob/main/src/templates/_essay.html">Source</a>
        
      </footer>
    </div>
  </body>
</html>
