/*
 * Each set of variables that shares the same first word looks good with or on each other.
 */

:root {
  --container-width: 70rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --traditional-bg: rgba(255, 255, 255, 1);
    --traditional-fg: rgba(0, 0, 0, 1);
    --traditional-fg-mute: rgba(0, 0, 0, 0.6);
    --traditional-fg-pop: rgba(200, 100, 100, 1);

    --page-bg: rgb(255, 255, 255);
    --page-border: rgb(0, 0, 0);
    --page-fg: rgba(0, 0, 0, 1);

    --lighter-bg: rgba(255, 255, 255, 1);
    --lighter-fg: rgba(200, 200, 200, 1);

    /* Use raised colors for items that should appear as if they are above the page. */
    --raised-bg: rgba(215, 215, 215, 1);
    --raised-fg: rgba(10, 10, 10, 1);

    --shadow: rgba(0, 0, 0, 0.5);

    /* --under-white looks good as a background under a white foreground,
     * regardless of color scheme. e.g. nav.socials uses white images.
     */
    --under-white: rgba(50, 50, 50, 1);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --traditional-bg: rgba(34, 34, 34, 1);
    --traditional-fg: rgba(235, 255, 240, 1);
    --traditional-fg-mute: rgba(235, 255, 240, 0.6);
    --traditional-fg-pop: rgba(245, 222, 153, 1);

    --page-bg: rgb(34, 34, 34);
    --page-border: rgb(34, 34, 34);
    --page-fg: rgba(248, 248, 242, 1);

    --lighter-bg: rgba(240, 240, 240, 1);
    --lighter-fg: rgb(132, 117, 45);

    /* Use raised colors for items that should appear as if they are above the page. */
    --raised-bg: rgba(50, 50, 50, 1);
    --raised-fg: rgba(255, 255, 255, 1);

    --shadow: rgb(0, 0, 0);

    --under-white: rgba(34, 34, 34, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a[href],
a[href]:hover,
a[href]:visited {
  color: inherit;
  text-decoration: underline;
}

a:hover:has(img) {
  background: inherit;
}

a:has(h1),
a:has(h2),
a:has(h3),
a:has(h4),
a:has(h5),
a:has(h6) {
  display: block;
  text-decoration: none;
}

article {
  margin: 1rem 0;
  padding: 0;
}

article > *:not(.photo-grid),
footer {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

@media (min-width: 55rem) {
  article > *:not(.photo-grid),
  footer {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

article img {
  max-width: 100%;
}

article p:has(img) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin-bottom: 0;
  margin-top: 3rem;
}

blockquote {
  border-left: 1px solid var(--traditional-fg);
  padding-left: 1rem;
}

body {
  background: var(--page-bg);
  color: var(--traditional-fg);
  font-family: monospace;
  font-size: 1.3em;
  height: 100%;
  line-height: 1.7em;
  margin: 0;
}

@media (max-width: 50rem) {
  body {
    /* Prevent mobile rubber-band-scrolling from revealing a contrasting color. */
    background: var(--traditional-bg);
  }
}

/* Disable page scrolling when viewing a fullscreen image. */
body:has(.gallery-item input:checked) {
  overflow: hidden;
}

button,
input[type="submit"] {
  background: none;
  border: 1px solid var(--traditional-fg);
  color: inherit;
}

code {
  color: var(--traditional-fg-mute);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Nesting em/i should drop styling. Extend nesting levels as needed. */
em em,
em i,
i em,
i i {
  font-style: normal;
}

input {
  font-family: inherit;
}

figcaption {
  font-style: italic;
}

footer {
  font-size: 0.75em;
  line-height: 1.1em;
}

h1 {
  color: var(--traditional-fg);
  font-size: 3rem;
  hyphens: none;
  line-height: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

/* Text document hero images */
h1 + figure,
h1 + p + figure {
  margin: auto;
  max-width: var(--container-width);
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: var(--traditional-fg-mute);
  display: block;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: -1px;
  margin-left: 1rem;
}

h1:has(small),
h2:has(small),
h3:has(small),
h4:has(small),
h5:has(small),
h6:has(small) {
  margin-bottom: 0;
}

h2 {
  margin-top: 4rem;
}

h2,
h3 {
  color: var(--page-fg);
}

h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  display: block;
}

hr {
  border: none;
}

hr::before {
  content: "* * *";
  display: block;
  font-size: 0.75rem;
  text-align: center;
}

/* Postfaces will be <hr> followed by an italicized <p>. */
hr + p:has(i),
hr + p:has(em) {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

html {
  hyphens: auto;
  -webkit-hyphens: auto;
}

li {
  margin: 0.4rem 0;
}

li p {
  margin: 0 0 2rem 1rem;
}

nav {
  margin-left: 1.25rem;
  overflow-x: auto;
}

@media (min-width: 50rem) {
  .breadcrumb,
  .nav-text,
  .nav-wrapper {
    display: inline;
  }
  .nav-wrapper + .nav-wrapper::before {
    content: "∙";
  }
  .breadcrumb::after {
    content: "/";
  }
}

@media (max-width: 50rem) {
  nav {
    margin: 0;
  }
  nav a {
    display: block;
    margin: 0;
  }
  .nav-text {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .nav-text::content,
  .nav-text::after,
  .nav-text::before {
    padding: 1rem 0.5rem;
  }
  .nav-text::after {
    content: "]";
  }
  .nav-text::before {
    content: "[";
  }
  nav .separator {
    display: none;
  }
}

nav.socials {
  display: inline;
  margin-left: 0.65rem;
}

nav.socials a {
  margin: 0;
  padding: 1rem;
}

a.black-icon:hover {
  filter: invert();
}

a.white-icon:hover img {
  filter: invert();
}

nav.socials a:hover {
  background-color: var(--traditional-fg-pop);
}

nav.socials a:hover {
  background-color: var(--lighter-bg);
}

nav.socials img {
  width: 1.1rem;
}

p {
  margin: 1.5em 0;
}

/*
 * The paragraph after an image or image set must be a caption.
 * Captions are italic.
 */
p:has(.gallery-item) + p {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: center;
}

ul {
  list-style-type: "⁃ ";
}

video + video {
  margin-left: 1rem;
}

.container {
  background: var(--traditional-bg);
  max-width: var(--container-width);
  margin: auto;
  margin-top: 2rem;
  padding: 0;
}

@media (min-width: 50rem) {
  .container {
    margin-bottom: 2rem;
  }
}

@media (max-width: 50rem) {
  .container {
    margin: 0;
  }
}

.dark-only {
  display: block;
}

.draft {
  color: var(--traditional-fg-pop);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.footnote-ref {
  margin: 0.1rem;
}

.footnotes {
  font-size: 0.6em;
  line-height: 1.5em;
}

.gallery-item {
  line-height: 0;
  text-align: center;
}

.gallery-item img {
  cursor: zoom-in;
  margin: auto;
}

.gallery-item:not(:has(input:checked)) img {
  max-height: 60vh;
}

.gallery-item:has(input:checked) img {
  max-height: 100vh;
}

.gallery-item input {
  display: none;
}

p:has(.gallery-item) {
  text-align: center;
}

.gallery-item:has(input:checked) {
  background: var(--page-bg);
  cursor: zoom-out;
  display: fixed;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.gallery-item:has(input:checked) img.fullsize {
  cursor: zoom-out;
  left: 50%;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: scale-down;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Show caption on top of zoomed image. */
p:has(.gallery-item input:checked) + p {
  background: var(--raised-bg);
  display: block;
  left: 15%;
  margin: 0;
  max-width: 50rem;
  padding: 1rem;
  position: fixed;
  top: 5%;
  transform: translate(-15%, -15%);
  z-index: 2;
}

.light-only {
  display: none;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.photo-grid h2 {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.photo-grid img {
  float: left;
  width: 100%;
}

.photo-grid a:hover img {
  box-shadow: -0.5rem -0.5rem 0 0.5rem var(--traditional-fg-pop);
  z-index: 99;
}

.post {
  margin: 5rem 0 0 0;
  padding: 2rem 0 0 0;
}

@media (min-width: 50rem) {
  .post {
    padding: 0;
    margin-bottom: 6rem;
  }
}

.publish-date {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

.selected {
  color: var(--traditional-fg-pop);
  cursor: default;
}

.welcome {
  margin: auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .white-icon {
    filter: invert();
  }
}

/* Start syntax highlighting (see https://github.com/alecthomas/chroma) */

pre code {
  background-color: var(--raised-bg);
  color: var(--raised-fg);
  display: block;
  padding: 1rem 0;
}

@media (max-width: 50rem) {
  pre {
    margin: 0 !important;
  }

  pre code {
    overflow-x: scroll;
  }
}

@media (min-width: 50rem) {
  pre {
    box-shadow: 0.5rem 0.5rem var(--shadow);
  }
}

pre .ln {
  margin-left: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

pre .cl {
  margin-left: 1rem;
  margin-right: 1rem;
}

pre .line {
  margin-right: 2rem;
}

pre {
  background-color: var(--page-bg);
  color: var(--page-fg);
  font-family: monospace;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

/* CV-specific */
h3.company {
  margin-bottom: 0;
  margin-top: 0;
}

.role {
  padding-left: 1rem;
}

/* Background */
.bg {
  color: var(--page-fg);
  background-color: var(--page-bg);
}

/* PreWrapper */
.chroma {
  color: var(--page-fg);
  background-color: var(--page-bg);
}

/* LineNumbers targeted by URL anchor */
.chroma .ln:target {
  color: var(--page-fg);
  background-color: var(--page-bg);
}

/* LineNumbersTable targeted by URL anchor */
.chroma .lnt:target {
  color: #f8f8f2;
  background-color: #3d3f4a;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #3d3f4a;
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  user-select: none;
  margin-right: 0.4rem;
  padding: 0 0.4rem 0 0.4rem;
  color: #7f7f7f;
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4rem;
  padding: 0 0.4rem 0 0.4rem;
  color: #7f7f7f;
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: #ff79c6;
}

/* KeywordConstant */
.chroma .kc {
  color: #ff79c6;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #8be9fd;
  font-style: italic;
}

/* KeywordNamespace */
.chroma .kn {
  color: #ff79c6;
}

/* KeywordPseudo */
.chroma .kp {
  color: #ff79c6;
}

/* KeywordReserved */
.chroma .kr {
  color: #ff79c6;
}

/* KeywordType */
.chroma .kt {
  color: #8be9fd;
}

/* NameAttribute */
.chroma .na {
  color: #50fa7b;
}

/* NameBuiltin */
.chroma .nb {
  color: #8be9fd;
  font-style: italic;
}

/* NameClass */
.chroma .nc {
  color: #50fa7b;
}

/* NameFunction */
.chroma .nf {
  color: #50fa7b;
}

/* NameLabel */
.chroma .nl {
  color: #8be9fd;
  font-style: italic;
}

/* NameTag */
.chroma .nt {
  color: #ff79c6;
}

/* NameVariable */
.chroma .nv {
  color: #8be9fd;
  font-style: italic;
}

/* NameVariableClass */
.chroma .vc {
  color: #8be9fd;
  font-style: italic;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #8be9fd;
  font-style: italic;
}

/* NameVariableInstance */
.chroma .vi {
  color: #8be9fd;
  font-style: italic;
}

/* LiteralString */
.chroma .s {
  color: #f1fa8c;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #f1fa8c;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #f1fa8c;
}

/* LiteralStringChar */
.chroma .sc {
  color: #f1fa8c;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #f1fa8c;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #f1fa8c;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #f1fa8c;
}

/* LiteralStringEscape */
.chroma .se {
  color: #f1fa8c;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #f1fa8c;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #f1fa8c;
}

/* LiteralStringOther */
.chroma .sx {
  color: #f1fa8c;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #f1fa8c;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #f1fa8c;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #f1fa8c;
}

/* LiteralNumber */
.chroma .m {
  color: #bd93f9;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #bd93f9;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #bd93f9;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #bd93f9;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #bd93f9;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #bd93f9;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #bd93f9;
}

/* Operator */
.chroma .o {
  color: #ff79c6;
}

/* OperatorWord */
.chroma .ow {
  color: #ff79c6;
}

/* Comment */
.chroma .c {
  color: #6272a4;
}

/* CommentHashbang */
.chroma .ch {
  color: #6272a4;
}

/* CommentMultiline */
.chroma .cm {
  color: #6272a4;
}

/* CommentSingle */
.chroma .c1 {
  color: #6272a4;
}

/* CommentSpecial */
.chroma .cs {
  color: #6272a4;
}

/* CommentPreproc */
.chroma .cp {
  color: #ff79c6;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #ff79c6;
}

/* GenericDeleted */
.chroma .gd {
  color: #ff5555;
}

/* GenericEmph */
.chroma .ge {
  text-decoration: underline;
}

/* GenericHeading */
.chroma .gh {
  font-weight: bold;
}

/* GenericInserted */
.chroma .gi {
  color: #50fa7b;
  font-weight: bold;
}

/* GenericOutput */
.chroma .go {
  color: #44475a;
}

/* GenericSubheading */
.chroma .gu {
  font-weight: bold;
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}

/* End syntax highlighting (see https://github.com/alecthomas/chroma) */

@media (max-width: 50rem) {
  .left {
    float: left;
    margin-top: 1rem;
  }

  .right {
    float: right;
    text-align: right;
    margin-top: 1rem;
    margin-right: 10px;
  }
}
