<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="go-import" content="twos.dev
           git https://github.com/glacials/twos.dev" />
<meta name="go-source" content="twos.dev
           https://github.com/glacials/twos.dev
           https://github.com/glacials/twos.dev/tree/main{/dir}
           https://github.com/glacials/twos.dev/blob/main{/dir}/{file}#L{line}" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2876079-11"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet" />
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())
  gtag("config", "UA-2876079-11")

  
  if (document.location.hostname == "localhost") {
    const wsurl = "ws://localhost:8100/ws"
    const socket = new WebSocket(wsurl)
    socket.addEventListener("message", (event) => location.reload())
    socket.addEventListener("close", (event) => {
      console.log("backup initiating")
      setInterval(() => {
        const sock = new WebSocket("ws://localhost:8100/ws")
        sock.addEventListener("open", (event) => {
          location.reload()
        })
      }, 1000)
    })
  }
</script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="description" content="Winter" />
<link rel="icon" href="favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="twos.dev" href="/feed.rss" />
<link rel="alternate" type="application/atom+xml" title="twos.dev" href="/feed.atom" />
<title>Winter</title>
<link rel="stylesheet" href="/style.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
  integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous" />
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"
  integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
  integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da7987" />

  </head>

  <body>
    <div class="container">
      <header>
        <nav>
  <p style="text-align:center">
    <span class="arrow"></span>
    <a href="/" >index</a>
    <span class="arrow"></span>
    
    <a href="/guide.html" >User Guide</a>
    <span class="arrow"></span>
    <a href="/software.html" >Software</a>
    <span class="arrow"></span>
  </p>
  <p style="text-align:center">
    
  </p>
</nav>

        
      </header>
      <article>
        
        
        <html><head></head><body><p><meta name="go-import" content="twos.dev
             git https://github.com/glacials/twos.dev"/>
<meta name="go-source" content="twos.dev
             https://github.com/glacials/twos.dev
             https://github.com/glacials/twos.dev/tree/main{/dir}
             https://github.com/glacials/twos.dev/blob/main{/dir}/{file}#L{line}"/></p>

<p><em>Warning: Winter is in early alpha and so is this documentation. You may find
inconsistencies or pieces of code present in twos.dev that have not yet been
migrated to Winter.</em></p>

<h1>Winter</h1>

<p><a href="https://pkg.go.dev/twos.dev/winter"><img src="https://pkg.go.dev/badge/twos.dev/winter.svg" alt="Go Reference"/></a> <a href="https://github.com/glacials/twos.dev#winter"><picture>
  <source srcset="img/winter-github-dark.png" media="(prefers-color-scheme: dark)" />
  <img alt="GitHub logo" src="img/winter-github-light.png" style="max-height: 1.35em" />
</picture>
</a></p>

<p><em>Winter</em> is the bespoke static website generator that powers twos.dev. It can
power your static website as well, either as a CLI tool or Go library. Winter is
strongly opinionated to serve my pecularities around building twos.dev.</p>

<p>On the surface, Winter is similar to other static website
generators. It can take a directory of files of varying content
types<span style="font-family: sans-serif">—</span>Markdown, Org, or HTML<span style="font-family: sans-serif">—</span>apply some templating, and render them to
HTML files ready for deployment to a static web server.</p>

<p>Winter is different because of its unique design goals.</p>

<p>Winter's design goals are to allow content to be both easy to edit and hard to
break. These goals work against each other by default, so Winter splits content
into two modes: <strong>warm</strong> and <strong>cold</strong>.</p>

<p><strong>Warm</strong> content should be synchronized into the project directory from an
outside tool of your choice. Generally this is a writing program such as <a href="https://ia.net/writer">iA
Writer</a> hooked up to a shared or cloud directory;
simplistically, it can be a cron job that runs <code>rsync</code> followed by a Git add and
push.</p>

<p><strong>Cold</strong> content should not be touched by automated tools. This content must be
preseved for years or decades, so less exposed surface area is better. When a
piece of warm content is stable, it can be "frozen" into cold content using
<code>winter freeze</code>.</p>

<html><head></head><body><ol id="toc">
  
    <li><a href="#installation"><span>Installation</span></a></li>
    
  
    <li><a href="#documentation"><span>Documentation</span></a></li>
    
      <ol>
  
    <li>
      <a href="#layout"><span>Directory Structure</span></a>
      
    </li>
  
    <li>
      <a href="#commands"><span>Commands</span></a>
      
        <ol>
  
    <li>
      <a href="#init"><span><code>winter init</code></span></a>
      
    </li>
  
    <li>
      <a href="#build"><span><code>winter build</code></span></a>
      
    </li>
  
    <li>
      <a href="#freeze"><span><code>winter freeze</code></span></a>
      
    </li>
  
</ol>

      
    </li>
  
    <li>
      <a href="#documents"><span>Documents</span></a>
      
    </li>
  
    <li>
      <a href="#frontmatter"><span>Frontmatter</span></a>
      
        <ol>
  
    <li>
      <a href="#filename"><span><code>filename</code></span></a>
      
    </li>
  
    <li>
      <a href="#date"><span><code>date</code></span></a>
      
    </li>
  
    <li>
      <a href="#updated"><span><code>updated</code></span></a>
      
    </li>
  
    <li>
      <a href="#tocprop"><span><code>toc</code></span></a>
      
    </li>
  
    <li>
      <a href="#type"><span><code>type</code></span></a>
      
    </li>
  
    <li>
      <a href="#category"><span><code>category</code></span></a>
      
    </li>
  
</ol>

      
    </li>
  
    <li>
      <a href="#templates"><span>Templates</span></a>
      
        <ol>
  
    <li>
      <a href="#fields"><span>Fields</span></a>
      
        <ol>
  
    <li>
      <a href="#category-1"><span><code>{{ .Category }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#dest"><span><code>{{ .Dest }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#isdraft"><span><code>{{ .IsDraft }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#ispost"><span><code>{{ .IsPost }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#title"><span><code>{{ .Title }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#createdat"><span><code>{{ .CreatedAt }}</code></span></a>
      
    </li>
  
    <li>
      <a href="#updatedat"><span><code>{{ .UpdatedAt }}</code></span></a>
      
    </li>
  
</ol>

      
    </li>
  
    <li>
      <a href="#functions"><span>Functions</span></a>
      
        <ol>
  
    <li>
      <a href="#posts"><span><code>posts</code></span></a>
      
    </li>
  
    <li>
      <a href="#archives"><span><code>archives</code></span></a>
      
    </li>
  
    <li>
      <a href="#img"><span><code>img</code></span></a>
      
    </li>
  
    <li>
      <a href="#video"><span><code>video</code></span></a>
      
    </li>
  
</ol>

      
    </li>
  
</ol>

      
    </li>
  
</ol>

    
  
</ol>
</body></html><h2 id="installation">Installation</h2>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl"><span class="c1"># CLI</span>
</span></span><span class="line"><span class="ln">2</span><span class="cl">go install twos.dev/winter/cmd@latest
</span></span><span class="line"><span class="ln">3</span><span class="cl">winter --help
</span></span><span class="line"><span class="ln">4</span><span class="cl">
</span></span><span class="line"><span class="ln">5</span><span class="cl"><span class="c1"># Go library</span>
</span></span><span class="line"><span class="ln">6</span><span class="cl">go get -u twos.dev/winter@latest
</span></span></code></pre></body></html>

<h2 id="documentation">Documentation</h2>

<p>This section details the <code>winter</code> CLI documentation. For Go library
documentation, see
<a href="https://pkg.go.dev/twos.dev/winter">pkg.go.dev/twos.dev/winter</a>.</p>

<h3 id="layout">Directory Structure</h3>

<ul>
<li><code>./src</code><span style="font-family: sans-serif">—</span>Content to be built

<ul>
<li><code>./src/cold</code><span style="font-family: sans-serif">—</span>Stable content

<ul>
<li><code>*.md</code><span style="font-family: sans-serif">—</span>Markdown files</li>
<li><code>*.html</code><span style="font-family: sans-serif">—</span>HTML files</li>
<li><code>*.html.tmpl</code><span style="font-family: sans-serif">—</span>HTML files compatible with Go's <a href="https://pkg.go.dev/text/template"><code>text/template</code></a> package</li>
</ul></li>
<li><code>./src/warm</code><span style="font-family: sans-serif">—</span>Unstable content

<ul>
<li><code>*.md</code><span style="font-family: sans-serif">—</span>Markdown files</li>
<li><code>*.html</code><span style="font-family: sans-serif">—</span>HTML files</li>
<li><code>*.html.tmpl</code><span style="font-family: sans-serif">—</span>HTML files compatible with Go's <a href="https://pkg.go.dev/text/template"><code>text/template</code></a> package</li>
</ul></li>
<li><code>./src/templates</code><span style="font-family: sans-serif">—</span>Reusable content

<ul>
<li><code>text_document.html.tmpl</code><span style="font-family: sans-serif">—</span>Default page container</li>
<li><code>imgcontainer.html.tmpl</code><span style="font-family: sans-serif">—</span>Gallery container</li>
<li><code>*.html</code><span style="font-family: sans-serif">—</span>HTML templates</li>
<li><code>*.html.tmpl</code><span style="font-family: sans-serif">—</span>HTML templates compatible with Go's <a href="https://pkg.go.dev/text/template"><code>text/template</code></a> package</li>
</ul></li>
<li><code>./src/img</code><span style="font-family: sans-serif">—</span>Gallery images

<ul>
<li><code>...</code><span style="font-family: sans-serif">—</span>Any directory structure</li>
</ul></li>
</ul></li>
<li><code>./public</code><span style="font-family: sans-serif">—</span>Static files copied directly to the build directory</li>
<li><code>./dist</code><span style="font-family: sans-serif">—</span>Build directory</li>
</ul>

<h3 id="commands">Commands</h3>

<h4 id="init"><code>winter init</code></h4>

<p>Usage: <code>winter init</code></p>

<p>Initialize the current directory for use with Winter. The Winter directory
structured detailed above will be created, and default starting templates will
be populated so that you have a working <code>index.html</code> listing posts.</p>

<h4 id="build"><code>winter build</code></h4>

<p>Usage: <code>winter build [--serve]</code></p>

<p>Build all content into <code>dist</code>. When <code>--serve</code> is passed, a fileserver is stood
up afterwards pointing to <code>dist</code>, content is continually rebuilt as it changes,
and the browser automatically refreshes.</p>

<h4 id="freeze"><code>winter freeze</code></h4>

<p>Usage: <code>winter freeze shortname...</code></p>

<p>Freeze all arguments, specified by shortname. This moves the files from
<code>src/warm</code> to <code>src/cold</code> and reflects the change in Git.</p>

<h3 id="documents">Documents</h3>

<p>A document is an HTML file or a Markdown file with optional frontmatter. The
first level 1 heading (<code>&lt;h1&gt;</code> in HTML or <code>#</code> in Markdown) will be used as the
document title.</p>

<p>This is an example document called <code>example.md</code>:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">---
</span></span><span class="line"><span class="ln">2</span><span class="cl">date: 2022-07-07
</span></span><span class="line"><span class="ln">3</span><span class="cl">filename: example.html
</span></span><span class="line"><span class="ln">4</span><span class="cl">type: post
</span></span><span class="line"><span class="ln">5</span><span class="cl">---
</span></span><span class="line"><span class="ln">6</span><span class="cl">
</span></span><span class="line"><span class="ln">7</span><span class="cl"><span class="gh"># My Example Document
</span></span></span><span class="line"><span class="ln">8</span><span class="cl"><span class="gh"></span>
</span></span><span class="line"><span class="ln">9</span><span class="cl">This is an example document.
</span></span></code></pre></body></html>

<h3 id="frontmatter">Frontmatter</h3>

<p>Frontmatter is specified in YAML. All fields are optional.</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln"> 1</span><span class="cl">---
</span></span><span class="line"><span class="ln"> 2</span><span class="cl">filename: example.html
</span></span><span class="line"><span class="ln"> 3</span><span class="cl">date: 2022-07-07
</span></span><span class="line"><span class="ln"> 4</span><span class="cl">updated: 2022-11-10
</span></span><span class="line"><span class="ln"> 5</span><span class="cl">
</span></span><span class="line"><span class="ln"> 6</span><span class="cl">category: arbitrary string
</span></span><span class="line"><span class="ln"> 7</span><span class="cl">toc: true|false
</span></span><span class="line"><span class="ln"> 8</span><span class="cl">type: post|page|draft
</span></span><span class="line"><span class="ln"> 9</span><span class="cl">---
</span></span><span class="line"><span class="ln">10</span><span class="cl">
</span></span><span class="line"><span class="ln">11</span><span class="cl"><span class="gh"># The Thing About Icebergs
</span></span></span><span class="line"><span class="ln">12</span><span class="cl"><span class="gh"></span>
</span></span><span class="line"><span class="ln">13</span><span class="cl">...
</span></span></code></pre></body></html>

<h4 id="filename"><code>filename</code></h4>

<p>Filename specifies the desired final location of the built file in <code>dist</code>. This
must end in <code>.html</code> (even if the source document is Markdown) and must not be in
a subdirectory. Winter enforces this because if you later move off Winter, web
paths that end in <code>.html</code> and do not use subdirectories will be the easiest to
migrate.</p>

<p>When not set, the filename of the source document minus extension is used in
place. For example, <code>envy.html.tmpl</code> and <code>envy.md</code> would both become <code>envy.html</code>
(though if two source files would produce the same destination file, Winter will
error). The result can be accessed using the <a href="#shortname"><code>{{ .Shortname }}</code></a> template var.</p>

<h4 id="date"><code>date</code></h4>

<p>The publish date of the document as a Go
<a href="https://pkg.go.dev/time#Time"><code>time.Time</code></a>. Coalesces to <code>{{ .CreatedAt }}</code> in
templates.</p>

<p>Templates can format the time using Go's <a href="https://pkg.go.dev/time#Time.Format"><code>func (time.Time) Format</code></a> function, which accepts a string
of the reference time <code>01/02 03:04:05PM '06 -0700</code>. For example, for a document
dated 2022-07-08:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">{{ .CreatedAt.Format "2006 January" }} &lt;!-- Renders 2022 July  --&gt;
</span></span><span class="line"><span class="ln">2</span><span class="cl">{{ .CreatedAt.Format "2006-01-02" }}   &lt;!-- Renders 2022-07-08 --&gt;
</span></span></code></pre></body></html>

<p>Use <code>{{ .CreatedAt.IsZero }}</code> to see if the date was not set. You can use this
to hide unset dates:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">{{ if not .CreatedAt.IsZero }}
</span></span><span class="line"><span class="ln">2</span><span class="cl">  published {{ .CreatedAt.Format "2006 January" }}
</span></span><span class="line"><span class="ln">3</span><span class="cl">{{ end }}
</span></span></code></pre></body></html>

<h4 id="updated"><code>updated</code></h4>

<p>The date the document was last meaningfully updated, if any, as a Go
<a href="https://pkg.go.dev/time"><code>time.Time</code></a>. Coalesces to <code>{{ .UpdatedAt }}</code> in
templates.</p>

<p>Use <code>{{ .UpdatedAt.IsZero }}</code> to see if the date was not set. You can use this
to hide unset dates:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">{{ if not .CreatedAt.IsZero }}
</span></span><span class="line"><span class="ln">2</span><span class="cl">  published {{ .CreatedAt.Format "2006 January" }}
</span></span><span class="line"><span class="ln">3</span><span class="cl">  {{ if not .UpdatedAt.IsZero }}
</span></span><span class="line"><span class="ln">4</span><span class="cl">    / last updated {{ .UpdatedAt.Format "2006 January" }}
</span></span><span class="line"><span class="ln">5</span><span class="cl">  {{ end }}
</span></span><span class="line"><span class="ln">6</span><span class="cl">{{ end }}
</span></span></code></pre></body></html>

<p>Renders:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">published 2022 July / last updated 2022 August
</span></span></code></pre></body></html>

<h4 id="tocprop"><code>toc</code></h4>

<p>Whether to render a table of contents (default <code>false</code>). If <code>true</code>, the table of
contents will be rendered just before the first level 2 header (<code>&lt;h2&gt;</code> in HTML,
<code>##</code> in Markdown) and will list all level 2, 3, and 4 header in nested <code>&lt;ul&gt;</code>s.
See the <a href="#toc">top of this page</a> for an example.</p>

<h4 id="type"><code>type</code></h4>

<p>The kind of document. Possible values are <code>post</code>, <code>page</code>, <code>draft</code>.</p>

<p><code>post</code> documents are programmatically included in template functions. <code>page</code> and
<code>draft</code> documents have no programmatic action taken on them.</p>

<h4 id="category"><code>category</code></h4>

<p>The category of the document. Accepts any string. This is exposed to templates
via the <code>{{ .Category }}</code> field. It has no other effect.</p>

<h3 id="templates">Templates</h3>

<p>Templates use the <a href="https://pkg.go.dev/text/template"><code>text/template</code></a> Go
library.</p>

<h4 id="fields">Fields</h4>

<h5 id="category-1"><code>{{ .Category }}</code></h5>

<p><em>Type: <code>string</code></em></p>

<p>The value specified by the frontmatter <a href="#category"><code>category</code></a> field. This can
be any arbitrary string specified by the document and is not used internally by
Winter.</p>

<h5 id="dest"><code>{{ .Dest }}</code></h5>

<p><em>Type: <code>string</code></em></p>

<p>The path of the document, relative to the web root.</p>

<h5 id="isdraft"><code>{{ .IsDraft }}</code></h5>

<p><em>Type: <code>bool</code></em></p>

<p>Whether the document is a draft (i.e. has frontmatter specifying <code>type: draft</code>).</p>

<h5 id="ispost"><code>{{ .IsPost }}</code></h5>

<p><em>Type: <code>bool</code></em></p>

<p>Whether the document is a post (i.e. has frontmatter specifying <code>type: post</code>).</p>

<h5 id="title"><code>{{ .Title }}</code></h5>

<p><em>Type: <code>string</code></em></p>

<p>The value of the document's first level 1 heading (<code>&lt;h1&gt;</code> for HTML or <code>#</code> for Markdown).</p>

<h5 id="createdat"><code>{{ .CreatedAt }}</code></h5>

<p><em>Type: <a href="https://pkg.go.dev/time#Time"><code>time.Time</code></a></em></p>

<p>The parsed date specified by the frontmatter <a href="#date"><code>date</code></a> field.</p>

<h5 id="updatedat"><code>{{ .UpdatedAt }}</code></h5>

<p><em>Type: <a href="https://pkg.go.dev/time#Time"><code>time.Time</code></a></em></p>

<p>The parsed date specified by the frontmatter <a href="#updated"><code>updated</code></a> field.</p>

<h4 id="functions">Functions</h4>

<h5 id="posts"><code>posts</code></h5>

<p>Usage: <code>{{ range posts }} ... {{ end }}</code></p>

<p>Returns a list of all documents with type <code>post</code>, from most to least recent.</p>

<p>See <a href="#fields">Document Fields</a> for a list of fields available to documents.</p>

<h5 id="archives"><code>archives</code></h5>

<p>Usage: <code>{{ range archives }}{{ .Year }}: {{ range .Documents }} ... {{ end }}{{ end }}</code></p>

<p>Returns a list of <code>archive</code> types ordered from most to least recent. An
<code>archive</code> has two fields, <code>.Year</code> (integer) and <code>.Documents</code> (array of
documents). This allows you to display posts sectioned by year.</p>

<p>See <a href="#fields">Document Fields</a> for a list of fields available to documents.</p>

<h5 id="img"><code>img</code></h5>

<p><em>Alias: <code>imgs</code></em></p>

<p>Usage: <code>{{ img[s] &lt;caption&gt; &lt;imageshortname alttext&gt;... }}</code></p>

<p>Render an image or images with a single caption. Image files must be present in
this format:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">public/img/&lt;pageshortname&gt;-&lt;imageshortname&gt;[-&lt;light|dark&gt;].&lt;png|jpg|jpeg&gt;
</span></span></code></pre></body></html>

<p>For example, to render one image with a caption and alt text:</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln">1</span><span class="cl">&lt;!-- mypage.md --&gt;
</span></span><span class="line"><span class="ln">2</span><span class="cl">
</span></span><span class="line"><span class="ln">3</span><span class="cl">{{ img
</span></span><span class="line"><span class="ln">4</span><span class="cl">   "A caption."
</span></span><span class="line"><span class="ln">5</span><span class="cl">   "test1"
</span></span><span class="line"><span class="ln">6</span><span class="cl">   "Descriptive alt text of what the image is of, for assistive tech"
</span></span><span class="line"><span class="ln">7</span><span class="cl">}}
</span></span></code></pre></body></html>

<p>Result:</p>

<p><figure style="text-align: center">
  
  <picture>
    <source srcset="" media="(prefers-color-scheme: dark)" />
    <img
      alt="Descriptive alt text of what the image is of, for assistive tech"
      src="img/winter-test1.jpeg"
      style="max-height: 40em; max-width: 100%"
    />
  </picture>
  
  <figcaption>A caption.</figcaption>
</figure>
</p>

<p>In this example, the image file must hold one or more of these forms:</p>

<ul>
<li><code>public/img/mypage-test1.jpg</code></li>
<li><code>public/img/mypage-test1-light.jpg</code></li>
<li><code>public/img/mypage-test1-dark.jpg</code></li>
<li><code>public/img/mypage-test1.jpeg</code></li>
<li><code>public/img/mypage-test1-light.jpeg</code></li>
<li><code>public/img/mypage-test1-dark.jpeg</code></li>
<li><code>public/img/mypage-test1.png</code></li>
<li><code>public/img/mypage-test1-light.png</code></li>
<li><code>public/img/mypage-test1-dark.png</code></li>
</ul>

<p>If <code>-light</code> and/or a <code>-dark</code> variants exist, they will be used when the user is
in the respective dark mode setting.</p>

<p>Any number of images can be rendered together with one caption beneath the
group by passing multiple images and alt texts. They will appear next to each
other when the page width allows it, or stacked vertically otherwise.</p>

<html><head></head><body><pre tabindex="0" class="chroma"><code><span class="line"><span class="ln"> 1</span><span class="cl">---
</span></span><span class="line"><span class="ln"> 2</span><span class="cl">filename: example.html
</span></span><span class="line"><span class="ln"> 3</span><span class="cl">---
</span></span><span class="line"><span class="ln"> 4</span><span class="cl">
</span></span><span class="line"><span class="ln"> 5</span><span class="cl">{{ imgs
</span></span><span class="line"><span class="ln"> 6</span><span class="cl">   "A pair of images."
</span></span><span class="line"><span class="ln"> 7</span><span class="cl">   "test1"
</span></span><span class="line"><span class="ln"> 8</span><span class="cl">   "Descriptive text of test1"
</span></span><span class="line"><span class="ln"> 9</span><span class="cl">   "test1"
</span></span><span class="line"><span class="ln">10</span><span class="cl">   "Descriptive text of test2"
</span></span><span class="line"><span class="ln">11</span><span class="cl">}}
</span></span></code></pre></body></html>

<p>Result:</p>

<p><figure style="text-align: center">
  
  <picture>
    <source srcset="" media="(prefers-color-scheme: dark)" />
    <img
      alt="Descriptive text of imagename1"
      src="img/winter-test1.jpeg"
      style="max-height: 40em; max-width: 100%"
    />
  </picture>
  
  <picture>
    <source srcset="" media="(prefers-color-scheme: dark)" />
    <img
      alt="Descriptive text of imagename2"
      src="img/winter-test2.jpeg"
      style="max-height: 40em; max-width: 100%"
    />
  </picture>
  
  <figcaption>A pair of images.</figcaption>
</figure>
</p>

<h5 id="video"><code>video</code></h5>

<p><em>Alias: <code>videos</code></em></p>

<p>Usage: <code>{{ video[s] &lt;caption&gt; &lt;videoshortname alttext&gt;... }}</code></p>

<p>Behaves exactly as <code>img</code> but searches for <code>mp4</code>/<code>mov</code> files instead and renders
them in <code>&lt;video&gt;</code> tags. Note that most browsers do not currently support light
or dark mode variations for videos, so the wrong variant may be displayed.</p>
</body></html>
      </article>
      <footer>
        <hr />
        <p>
          
            
              &larr; <a href="/">twos.dev</a>
            
          
        </p>
        <p>
          <small>
            <i>
              
                source:
                <a href="https://github.com/glacials/twos.dev/blob/main/src/cold/winter.md"
                  >src/cold/winter.md</a
                >
              
              <br />
              
                published
                2022 July
                  / last updated
                  2022 July
                
              
            </i>
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
