<div class="photo-grid">
  <h2>{{ . }}</h2>
  {{ range (gallery .) }}
    <label class="gallery-item">
      <input type="checkbox" />
      <img alt="{{ .Alt }}" class="fullsize" src="{{ .WebPath }}" title="" />
    </label>
    <p class="caption exif">
      <span style="font-style:italic;"> {{ .Camera }}</span><br />
      <span style="font-style:italic;">
        {{ with .Lens }}
          <a href="{{ .Link }}">{{ .Make }} {{ .Model }}</a>
          @
        {{ end }}
        {{ .FocalLength }}mm &bull;
        ƒ{{ .Aperture }}
        &bull; {{ .ShutterSpeed }}s &bull; ISO
        {{ .ISO }}
      </span>
      <br />
      <span style="font-style:italic">
        &copy; {{ .TakenAt.Year }} Benjamin Carlsson
      </span>
    </p>
  {{ end }}
</div>
