<nav>
  <p style="text-align:center">
    <span class="arrow"></span>
    <a
      href="/"
      {{ if eq .Dest "index.html" }}class="selected"{{ end }}
      >About</a
    >
    <span class="arrow"></span>
    <!--
    <a
      href="/cv.html"
      {{ if eq .Dest "cv.html" }}class="selected"{{ end }}
      >CV</a
    >
    <span class="arrow"></span>
    -->
    <a
      href="/guide.html"
      {{ if eq .Dest "guide.html" }}class="selected"{{ end }}
      >User Guide</a
    >
    <span class="arrow"></span>
    <a
      href="/software.html"
      {{ if eq .Dest "software.html" }}class="selected"{{ end }}
      >Software</a
    >
    <span class="arrow"></span><!--
    <a
      href="/newsletter.html"
      {{ if eq .Dest "newsletter.html" }}class="selected"{{ end }}
      >Newsletter</a
    >
    <span class="arrow"></span>-->
  </p>
  <p style="text-align:center">
    {{ with parent }}
      <a href="{{ parent.Source }}">back to {{ parent.Shortname }}</a>
    {{ end }}
  </p>
</nav>
