<nav class="primary">
  {{ if .IsType "post" -}}
    <a href="/"><div class="muted nav-text">&larr; twos.dev</div></a>
  {{- end -}}
  {{ with parent }}
    <a class="muted" href="{{ .Metadata.WebPath }}"
      ><div class="muted nav-text">&larr; {{ .Metadata.Title }}</div></a
    >
  {{ end }}
  <h1 class="website-title">
    {{ if eq .WebPath "/index.html" }}
      Ben Carlsson
    {{- else -}}
      {{- if .IsType "post" -}}
        {{ .Title }}
      {{- else -}}
        {{ .Title }}
      {{- end -}}
    {{- end -}}
  </h1>
  {{ if (and (not (.IsType "post")) (not parent)) -}}
    <div class="hierarchy">
      <div class="nav-wrapper">
        <a href="/"><div class="nav-text">Home</div></a>
      </div>
      <div class="nav-wrapper">
        <a href="/archives.html"><div class="nav-text">Blog</div></a>
      </div>
      <div class="nav-wrapper">
        <a href="/newsletter.html"><div class="nav-text">Newsletter</div></a>
      </div>
      <div class="nav-wrapper">
        <a href="/now.html"><div class="nav-text">Now</div></a>
      </div>
      <div class="nav-wrapper">
        <a href="/photos.html"><div class="nav-text">Photos</div></a>
      </div>
      <div class="nav-wrapper">
        <a href="/software.html"><div class="nav-text">Software</div></a>
      </div>
    </div>
  {{ end }}
</nav>
