{{with videos .}}
<video autoplay loop muted style="max-height: 40em; max-width: 100%">
  <!-- video->source->media queries not supportd :( commented for now
  <source
  src="{{.LightMOV}}"
    type="video/quicktime"
    media="(prefers-color-scheme:light)"
  />
  <source
  src="{{.LightMP4}}"
    type="video/mp4"
    media="(prefers-color-scheme:light)"
  />
  <source
  src="{{.DarkMOV}}"
    type="video/quicktime"
    media="(prefers-color-scheme:dark)"
  />
  <source
  src="{{.DarkMP4}}"
    type="video/mp4"
    media="(prefers-color-scheme:dark)"
  /> -->
  {{if or .LightMOV .LightMP4}} {{if .LightMOV}}
  <source src="{{.LightMOV}}" type="video/quicktime" />
  {{end}} {{if .LightMP4}}
  <source src="{{.LightMP4}}" type="video/mp4" />
  {{end}} {{else}} {{if .DarkMOV}}
  <source src="{{.DarkMOV}}" type="video/quicktime" />
  {{end}} {{if .DarkMP4}}
  <source src="{{.DarkMP4}}" type="video/mp4" />
  {{end}} {{end}}
</video>
{{end}}
