<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" }}
    {{ with .Prev }}
      <link rel="preload" as="image" href="{{ .ImageSRC }}" />
    {{ end }}
    {{ with .Next }}
      <link rel="preload" as="image" href="{{ .ImageSRC }}" />
    {{ end }}
    <title>twos.dev Photo Viewer</title>
  </head>

  <body>
    <div class="container">
      <header>{{ template "nav" . }}</header>
      <p style="text-align: center">
        {{ with .Prev }}
          <a href="{{ .PageLink }}">&larr; prev</a>
        {{ end }}
        {{ if and .Next .Prev }}/{{ end }}
        {{ with .Next }}
          <a href="{{ .PageLink }}">next &rarr;</a>
        {{ end }}
      </p>
      <p style="text-align: center; margin-bottom: 0">
        <a href="{{ .ImageSRC }}" class="img">
          <img
            alt="{{ .Alt }}"
            src="{{ .ImageSRC }}"
            style="max-width: 100%; max-height: 75vh"
          />
        </a>
      </p>
      <p style="text-align: center; margin-top: 0">
        <i>{{ .Camera }}</i>
      </p>
      <p style="text-align: center">
        &copy; {{ .TakenAt.Year }} Benjamin Carlsson
      </p>
      <footer style="margin-top: 1em">
        <p>
          {{ if .Parent }}
            &larr; <a href="{{ .Parent }}">{{ .Parent }}</a>
          {{ else }}
            &larr; <a href="/">twos.dev</a>
          {{ end }}
        </p>
        <p>
          <small>
            <i>
              {{ if .SourcePath }}
                source:
                <a
                  href="https://github.com/glacials/twos.dev/blob/main/{{ .SourcePath }}"
                  >{{ .SourcePath }}</a
                >
              {{ else }}
                <a href="https://github.com/glacials/twos.dev">Source</a>
              {{ end }}
            </i>
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
