<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" }}
    {{ with .Prev }}
      <link rel="preload" as="image" href="/{{ .WebPath }}" />
    {{ end }}
    {{ with .Next }}
      <link rel="preload" as="image" href="/{{ .WebPath }}" />
    {{ end }}
    <script>
      document.addEventListener('keydown', event => {
        switch (event.key) {
          {{with .Prev}}
            case "ArrowLeft":
              window.location.href = "{{ .PageLink }}";
              break;
          {{end}}
          {{with .Next}}
            case "ArrowRight":
              window.location.href = "{{ .PageLink }}";
              break;
          {{end}}
        }
      });
    </script>
    <title>twos.dev Photo Viewer</title>
    <style>
      body {
        background: black;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header>{{ template "nav" . }}</header>
      <p style="text-align: center">
        {{ with .Prev }}
          <a href="{{ .PageLink }}">&larr; prev</a>
        {{ end }}
        {{ if and .Next .Prev }}/{{ end }}
        {{ with .Next }}
          <a href="{{ .PageLink }}">next &rarr;</a>
        {{ end }}
      </p>
      <p style="text-align: center; margin-bottom: 0">
        <a href="/{{ .WebPath }}" class="img">
          <img
            alt="{{ .Alt }}"
            src="/{{ .WebPath }}"
            style="max-width: 100%; max-height: 75vh"
          />
        </a>
      </p>
      <p style="text-align: center; margin-top: 0">
        <i>{{ .Camera }}</i>
      </p>
      <p style="text-align: center">
        &copy; {{ .TakenAt.Year }} Benjamin Carlsson
      </p>
      <footer style="margin-top: 1em">
        <p>
          {{ with parent }}
            &larr; <a href="{{ parent.Source }}">{{ parent.Shortname }}</a>
          {{ else }}
            &larr; <a href="/">twos.dev</a>
          {{ end }}
        </p>
        <p>
          <small>
            <i>
              {{ with src }}
                source:
                <a href="https://github.com/glacials/twos.dev/blob/main/{{ . }}"
                  >{{ . }}</a
                >
              {{ else }}
                <a href="https://github.com/glacials/twos.dev">Source</a>
              {{ end }}
            </i>
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
