<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" }}
    {{ with .Prev }}
      <link rel="preload" as="image" href="/{{ .WebPath }}" />
    {{ end }}
    {{ with .Next }}
      <link rel="preload" as="image" href="/{{ .WebPath }}" />
    {{ end }}
    <script>
      document.addEventListener('keydown', event => {
        switch (event.key) {
          {{with .Prev}}
            case "ArrowLeft":
              window.location.href = "{{ .PageLink }}";
              break;
          {{end}}
          {{with .Next}}
            case "ArrowRight":
              window.location.href = "{{ .PageLink }}";
              break;
          {{end}}
        }
      });
    </script>
    <title>twos.dev Photo Viewer</title>
    <style>
      a,
      a:visited {
        color: grey !important;
      }
      body {
        background: black !important;
        color: grey !important;
        margin: 0;
      }
      html {
        margin: 0;
      }
      .contrast {
        background: black !important;
      }
      footer,
      p {
        position: fixed;
      }
      footer {
        bottom: 0;
        left: 0;
      }
    </style>
  </head>

  <body>
    <p style="text-align:center">
      <a href="/" class="contrast">twos.dev</a>
    </p>

    <p style="text-align: center">
      <span class="contrast">
        {{ with .Prev }}
          <a href="{{ .PageLink }}" class="contrast">&larr; prev</a>
        {{ end }}
        {{ if and .Prev .Next }}/{{ end }}
        {{ with .Next }}
          <a href="{{ .PageLink }}" class="contrast">next &rarr;</a>
        {{ end }}
      </span>
    </p>
    <a
      href="{{ with .Next }}
        {{ .PageLink }}
      {{ else }}
        /
      {{ end }}"
      class="img"
      style="text-align: center; margin-bottom: 0; position: absolute; top: 0; left: 0; z-index: -1;"
      ><img
        alt="{{ .Alt }}"
        src="/{{ .WebPath }}"
        style="max-width: 100vh; max-height: 100vh; display:block;"
    /></a>
    <div style="bottom:0; left:0; position:absolute;">
      <p>
        <span class="contrast"
          ><i>{{ .Camera }}</i> &bull; &copy;
          {{ .TakenAt.Year }}
          Benjamin Carlsson
        </span>
      </p>
      <p>
        <small>
          <i class="contrast">
            {{ with src }}
              source:
              <a href="https://github.com/glacials/twos.dev/blob/main/{{ . }}"
                >{{ . }}</a
              >
            {{ else }}
              <a href="https://github.com/glacials/twos.dev">Source</a>
            {{ end }}
          </i>
        </small>
      </p>
    </div>
  </body>
</html>
