<!-- This is the single-post template that renders on `/<post_title>.html`.
     See _writing.html.tmpl for the multi-post page that renders on index.html. -->
<!doctype html>
<html lang="en">
  <head>
    {{ template "_head.html.tmpl" . }}
  </head>

  <body>
    <div class="container">
      {{ template "_nav.html.tmpl" . }}
      <article>
        <!--        <a href="{{ .WebPath }}"><h1>{{ .Title }}</h1></a> Handled by nav -->
        {{ if .IsType "draft" }}
          <div class="draft">Draft</div>
        {{ end }}
        {{ if and (.IsType "post") (not .CreatedAt.IsZero) }}
          <div class="publish-date">
            {{ .CreatedAt.Format "2006 January" }}{{- if not .UpdatedAt.IsZero -}}
              , last updated
              {{ .UpdatedAt.Format "2006 January" }}
            {{ end }}
          </div>
        {{ end }}
        {{ with .Category }}
          <div
            style="text-align: center; text-transform: uppercase; margin-top: 2em"
          >
            — a {{ . }} —
          </div>
        {{ end }}
        {{ template "body" . }}
      </article>
      <footer>
        <p class="mb-0">
          <small>
            <i>
              {{ with .SourcePath }}
                {{ if eq . "src/warm/config.org" }}
                  source:
                  <a
                    href="https://github.com/glacials/dotfiles/blob/main/dot_config/emacs/config.org"
                    >~/.config/emacs/config.org</a
                  >
                {{ else }}
                  source:
                  <a
                    href="https://github.com/glacials/twos.dev/blob/main/{{ . }}"
                    target="_blank"
                    >{{ . }}</a
                  >
                {{ end }}
              {{ else }}
                <a href="https://github.com/glacials/twos.dev" target="_blank"
                  >source</a
                >
              {{ end }}
              <br />
              {{ if not .CreatedAt.IsZero }}
                {{ if not (eq .WebPath "/index.html") }}
                  published
                  {{ .CreatedAt.Format "2006 January" }}
                  {{ if not .UpdatedAt.IsZero }}
                    / last updated
                    {{ .UpdatedAt.Format "2006 January" }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </i>
          </small>
        </p>
        <p class="mt-0 muted">
          <small>
            <a href="#">to top</a>
            {{ if not (eq .WebPath "/index.html") }}
              / <a href="/">back home</a>
            {{ end }}
            /
            <a href="https://ko-fi.com/glacials" target="_blank"
              >buy me a coffee</a
            ></small
          >
        </p>
      </footer>
    </div>
    {{ template "_js.html.tmpl" }}
  </body>
</html>
