<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
  </head>

  <body>
    <div class="container">
      <header>
        {{ template "nav" . }}
        {{ if and (.Kind.IsPost)  (not .CreatedAt.IsZero) }}
          <small style="text-align:center; display: block">
            <i>
              published
              {{ .CreatedAt.Format "2006 January" }}{{ if not .UpdatedAt.IsZero }}
                | last updated
                {{ .UpdatedAt.Format "2006 January" }}
              {{ end }}</i
            >
          </small>
        {{ end }}
      </header>
      <article>
        {{ if .Kind.IsDraft }}
          <div style="text-align:center; background-color: var(--bg-c)">
            DRAFT
          </div>
        {{ end }}
        {{ template "body" . }}
      </article>
      <footer>
        <hr />
        <p>
          {{ if ne .Shortname "index" }}
            {{ if .Parent }}
              &larr; <a href="{{ .Parent }}">{{ .Parent }}</a>
            {{ else }}
              &larr; <a href="/">twos.dev</a>
            {{ end }}
          {{ end }}
        </p>
        <p>
          <small>
            <i>
              {{ if .SrcPath }}
                source:
                <a
                  href="https://github.com/glacials/twos.dev/blob/main/{{ .SrcPath }}"
                  >{{ .SrcPath }}</a
                >
              {{ else }}
                <a href="https://github.com/glacials/twos.dev">Source</a>
              {{ end }}
              <br />
              {{ if not .CreatedAt.IsZero }}
                published
                {{ .CreatedAt.Format "2006 January" }}{{ if not .UpdatedAt.IsZero }}
                  / last updated
                  {{ .UpdatedAt.Format "2006 January" }}
                {{ end }}
              {{ end }}
            </i>
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
