@media (prefers-color-scheme: light) {
  :root {
    /* All fg-x-y colors should look good on their equivalent bg-x color. */
    --bg-a: rgba(255, 255, 219, 1);
    --fg-a-a: rgba(76, 68, 66, 1);
    --fg-a-b: rgba(255, 122, 120, 1);
    --fg-a-c: rgba(94, 188, 255, 1);
    --fg-a-d: rgba(75, 135, 179, 1);
    --fg-a-e: rgba(179, 68, 66, 1);

    --bg-b: rgba(255, 122, 120, 1);
    --fg-b-a: rgba(255, 255, 219, 1);
    --fg-a-a: rgba(76, 68, 66, 1);

    --bg-c: rgba(75, 135, 179, 1);
    --fg-c-a: rgba(255, 255, 219, 1);

    --bg-d: rgba(179, 68, 66, 1);
    --fg-d-a: rgba(255, 255, 219, 1);

    --bg-e: rgba(76, 68, 66, 1);
    --fg-e-a: rgba(255, 255, 219, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-a: rgba(51, 51, 54, 1);
    --background-b: rgba(60, 60, 66, 1);

    --foreground-a: rgba(230, 230, 230, 1);
    --foreground-b: rgba(255, 122, 120, 1);
    --foreground-c: rgba(94, 188, 255, 1);
    --foreground-d: rgba(75, 135, 179, 1);
  }
}

html {
  font-family: Oxygen, monospace;
  font-size: 14px;
  line-height: 1.75em;
  letter-spacing: -0.05em;
  text-align: justify;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  hyphens: auto;
  -webkit-hyphens: auto;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 75em;
}

header,
footer,
ol,
p,
ul {
  margin: 1rem;
}

ul {
  list-style-type: "- ";
}

li {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: var(--bg-d);
  color: var(--fg-d-a);
  margin-top: 2em;
  padding: 0.1em 1rem 0 1rem;
  display: inline;
}

h1 {
  display: block;
}

h1,
h2 {
  background-color: var(--bg-d);
  color: var(--fg-d-a);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

footer {
  margin-top: 4em;
}

img {
  transform: rotate(-0.5deg);
}

body {
  background: var(--bg-a);
  color: var(--fg-a-a);
}

a,
a:visited {
  color: var(--fg-a-e);
  text-transform: lowercase;
}

a:hover {
  background-color: var(--fg-a-e);
  color: var(--bg-a);
  text-decoration: none;
  text-transform: none;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}

.photo-grid a {
  /* Otherwise we get gaps for having spaces between </a> and <a ... */
  font-size: 0;
}

.photo-grid img {
  float: left;
  width: 100%;
}

/* Nesting em/i should drop styling. Extend nesting levels as needed. */
i i,
i em,
em i,
em em {
  font-style: normal;
}

.dark-only {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark-only {
    display: block;
  }

  .light-only {
    display: none;
  }
}
