<nav>
  <p style="text-align:center">
    <a
      href="/"
      {{ if eq .WebPath "index.html" }}class="selected"{{ end }}
      >Index</a
    >
  </p>

  <p style="text-align:center">
    {{ with .Parent }}
      <a href="{{ . }}">back to {{ . }}</a>
    {{ end }}
  </p>
</nav>
