<ol>
  {{ range . }}
    <li>
      <a href="#{{ .Anchor }}">{{ .HTML }}</a>
      {{ if .Items }}
        {{ template "src/templates/_subtoc.html.tmpl" .Items }}
      {{ end }}
    </li>
  {{ end }}
</ol>
