<ol id="toc">
  {{ range .Items }}
    <li><a href="#{{ .Anchor }}">{{ .HTML }}</a></li>
    {{ if .Items }}
      {{ template "src/templates/_subtoc.html.tmpl" .Items }}
    {{ end }}
  {{ end }}
</ol>
