html {
  font-family: monospace;
  letter-spacing: -0.5px;
  max-width: 44em;
  /* text-transform: lowercase; */
}

ul {
  list-style-type: "- ";
}

li {
  margin: 0.5em 0;
}

footer {
  margin-top: 4em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #eee;
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: plum;
  }
}
