---
filename: archives.html
type: page
---

<h1>Blog</h1>

<p>
  <small>
    <a href="/feed.atom">Feed</a>
  </small>
</p>

<div style="max-width: 20rem">
  {{ with yearly posts }}
    {{ range . }}
      <h2>{{ .Year }}</h2>

      {{ range .Documents.All }}
        {{ with .Metadata }}
          <li>
            {{ with .Category }}{{ . }}:{{ end }}
            <a href="{{ .WebPath }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
