---
filename: archives.html
type: page
---

<h1>Blog</h1>

<p>
  <small>
    <a href="/feed.atom">Feed</a>
  </small>
</p>

<div class="archives">
  {{ with yearly posts }}
    {{ range . }}
      <h2>{{ .Year }}</h2>

      <ul>
        {{ range .Documents.All }}
          {{ with .Metadata }}
            <li>
              {{ with .Category }}{{ . }}:{{ end }}
              <a href="{{ .WebPath }}">{{ .Title }}</a>
              {{ with .Preview }}
                <span class="archives-preview">{{ . }}</span>
              {{ end }}
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
</div>
