---
date: 2021-12-13
filename: cv.html
type: page
updated: 2023-12-20
---

<style>
  @media print {
    html {
      font-size: 0.5rem;
    }
    footer,
    nav,
    .print-hidden {
      display: none;
    }
    .container {
      max-width: unset;
    }
  }
  h2 + * {
    margin-top: 0;
  }
  .company {
    display: inline;
  }
  .job {
    margin-bottom: 3rem;
  }
  .role {
    display: inline;
    font-style: italic;
    font-weight: bold;
  }
</style>

<div style="margin: auto; text-align: center">
  <h1>CV</h1>
  <h2>Ben Carlsson</h2>
  <p>Principal Software Engineer</p>
  <p>
    <a
      class="print-hidden"
      href="https://twos.dev/ben-carlsson-resume.pdf"
      style="white-space: nowrap"
      target="_blank"
    >
      PDF version
    </a>
  </p>
  <p>
    <a href="mailto:ben@twos.dev" style="white-space: nowrap">ben@twos.dev</a>,
    <a
      href="https://twitter.com/glcls"
      style="white-space: nowrap"
      target="_blank"
      >@glacials@hachyderm.io</a
    >,
    <a
      href="https://github.com/glacials"
      style="white-space: nowrap"
      target="_blank"
      >github.com/glacials</a
    >,
    <a
      href="https://linkedin.com/in/ben"
      style="white-space: nowrap"
      target="_blank"
      >linkedin.com/in/ben</a
    >
  </p>
</div>
<h2>Job History</h2>
<div class="job">
  <div class="role">Principal Software Engineer</div>
  @
  <h3 class="company">SunPower</h3>
  <div class="location">Seattle, WA</div>
  July 2022&ndash;Present
  <ul>
    <li>
      Founded new workflow orchestration team to democratize automation of
      solar- and team-specific workflows, with goals to speed up installation
      and repair of solar panels
    </li>
    <li>
      Performed user interviews, rapid prototyping, and architecture design to
      build orchestration service
    </li>
    <li>
      Worked independently for 10 months during hiring freeze, on a project
      meant for 4 engineers
    </li>
    <li>
      Reported directly to Sr. Director of Engineering, performing org-level
      functions like architecture reviews, postmortem reviews, and interfacing
      with vendors
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Staff Software Engineer</div>
  @
  <h3 class="company">FalconX</h3>
  <div class="location">Seattle, WA</div>
  January 2022&ndash;June 2022
  <ul>
    <li>Joined via YourBase acquisition</li>
    <li>
      Worked with backend team and Head of Engineering to improve test cycle and
      developer experience
    </li>
    <li>
      Built internal CLI to manage complexity; reduced new developer spin-up
      time from 3 weeks → 2 days
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Staff Software Engineer</div>
  @
  <h3 class="company">YourBase</h3>
  <div class="location">Seattle, WA</div>
  April 2020&ndash;March 2022
  <ul>
    <li>
      Ideated & led pivot of primary product—a tool to accelerate software
      tests—from a proprietary CI platform to an
      <a href="https://vimeo.com/530517699" target="_blank"
        >installable library</a
      >, directly leading to signing our biggest customers, Yelp and PayPal
    </li>
    <li>
      Created and scaled test selection libraries for Python and Ruby using a
      packaged Go binary as a performant backend, that can trace and understand
      code paths to skip tests that don't need to run, bringing customer test
      times from 1+ hour to ~10 minutes
    </li>
    <li>
      Independently discovered and optimized a >12s API endpoint to &lt;50ms
      immediately after joining
    </li>
    <li>
      Optimized the company's most expensive API endpoint from 12s+ to &lt;50ms
      within four weeks of joining
    </li>
    <li>Python, Go, Ruby, Docker</li>
    <li>Exited via acquisition in January 2022</li>
  </ul>
</div>
<div class="job">
  <div class="role">Technical Founder</div>
  @
  <h3 class="company">Splits.io</h3>
  <div class="location">Seattle, WA</div>
  January 2019&ndash;April 2020
  <ul>
    <li>
      Converted a costly unstable side project of 5 years into a
      self-sustaining, profitable, and stable product
    </li>
    <li>Led a team of three in engineering, product, and design</li>
    <li>
      Today, serves 15k+ monthly active users with zero maintenance effort and
      continues to be profitable
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Senior Software Engineer</div>
  @
  <h3 class="company">Twitch</h3>
  <div class="location">San Francisco, CA</div>
  2014&ndash;2019
  <ul>
    <li>
      Built & scaled foundational products like Twitch Chat to 46B message
      deliveries / day
    </li>
    <li>
      Built backend for Host Mode, which succeeded for years after in increasing
      engagement and viewership
    </li>
    <li>
      Rearchitected authentication and authorization in follow-up response to
      security P1 by advocating for, founding, and building the Identity team
    </li>
    <li>
      On Identity team, designed services that handled highly sensitive auth
      information with stringent security controls, successfully reducing attack
      surface area for user credentials by orders of magnitude
    </li>
    <li>
      On Chat team, built Twitch's first spam filter to protect users from
      scammers and abusers
    </li>
    <li>
      On Social team, led interoperability and merging effort for acquired
      company Curse, allowing users of either platform to sign in to both and
      merge their accounts, social graphs, and DMs transparently
    </li>
    <li>
      Successfully ideated, pitched, and executed project to move Twitch from
      HTTP to HTTPS, coordinating across multiple teams, stacks, and
      repositories to protect users from security and privacy concerns
    </li>
    <li>
      Ran
      <a href="https://www.twitch.tv/videos/93570710" target="_blank">panels</a
      >; helped creators and fans interact in socially healthy ways
    </li>
    <li>Led to $1B acquisition by Amazon</li>
  </ul>
</div>
<div class="job">
  <div class="role">Software Engineering Intern</div>
  @
  <h3 class="company">Lawrence Livermore National Laboratory</h3>
  <div class="location">Livermore, CA</div>
  2010&ndash;2013 (summers)
  <ul>
    <li>
      Built
      <a href="https://github.com/esgf" target="_blank">open source tools</a>
      for the climate science community
    </li>
  </ul>
</div>

<h2>Projects</h2>
<ul>
  <li>
    <a href="https://license.land" target="_blank">Licenseland</a>
    (2019&ndash;present)
    <ul>
      <li>Dead simple dual-licensing for open source projects</li>
      <li>Vue, Firebase, Stripe Connect</li>
    </ul>
  </li>
  <li>
    <a href="https://whatsinstandard.com" target="_blank"
      >What's in Standard?</a
    >
    (2013&ndash;present)
    <ul>
      <li>A reference tool for Magic: The Gathering players</li>
      <li>Twitter bot, mobile app, and web app all powered by one API</li>
      <li>Firebase, Flutter, and Vue respectively</li>
    </ul>
  </li>
  <li>
    <a href="https://github.com/glacials/housebot" target="_blank">Housebot</a>
    (2014&ndash;2015)
    <ul>
      <li>
        A Twitch bot that lets chat participants vote to control my lights
      </li>
      <li>Node.js, Z-Wave API, Phillips Hue API</li>
      <li>
        In retrospect I wouldn't recommend letting the internet control pieces
        of your house :)
      </li>
    </ul>
  </li>
</ul>

<h2>Skills</h2>
<ul>
  <li>Soft: Community management, technical writing, open source</li>
  <li>Code: Go, Ruby, Python, JavaScript, HTML/CSS, Vue</li>
  <li>Tools: Docker, PostgreSQL, Terraform, Firebase, AWS</li>
</ul>

<h2>Education</h2>
<ul>
  <li>Bachelor of Science in Computer science</li>
  <li>California State University, Chico</li>
</ul>

<div class="print-hidden">
  <h2>Follow Up</h2>
  <p>
    <a href="mailto:ben@twos.dev">Email me</a> or
    <a href="https://twos.dev/ben-carlsson-resume.pdf" target="_blank"
      >see a PDF version</a
    >
  </p>
</div>
