---
date: 2021-12-13
filename: cv.html
type: page
updated: 2023-12-20
---

<style>
  @media print {
    body,
    html {
      margin: 0;
    }
    html {
      font-size: 0.5rem;
    }
    footer,
    nav,
    .print-hidden {
      display: none;
    }
    .container {
      max-width: unset;
    }
  }
  h2 + * {
    margin-top: 0;
  }
  .company {
    display: inline;
  }
  .job {
    margin-bottom: 3rem;
  }
  .role {
    display: inline;
    font-style: italic;
  }
</style>

<div style="margin: auto; text-align: center">
  <h1>CV</h1>
  <h2>Ben Carlsson</h2>
  <p>Seattle, WA</p>
  <p>
    <a
      class="print-hidden"
      href="https://twos.dev/ben-carlsson-resume.pdf"
      style="white-space: nowrap"
      target="_blank"
    >
      PDF version
    </a>
  </p>
  <p>
    <a href="mailto:ben@twos.dev" style="white-space: nowrap">ben@twos.dev</a> /
    <a
      href="https://github.com/glacials"
      style="white-space: nowrap"
      target="_blank"
      >github.com/glacials</a
    >
    /
    <a
      href="https://linkedin.com/in/ben"
      style="white-space: nowrap"
      target="_blank"
      >linkedin.com/in/ben</a
    >
    / (925) 979-5797
  </p>
  <p style="margin: 1.25rem;">
    Detail-oriented and anlytical backend engineer with 10+ years experience in
    development, architecture, and mentoring. Background in open source and deep
    expertise in Go, Ruby, and Python. Known for excelling in low-JS full-stack,
    and creating first-class developer experience and documentation practices.
    Experience in two acquisitions, one by Amazon.
  </p>
</div>
<h2>Job History</h2>
<div class="job">
  <div class="role">Principal Software Engineer</div>
  @
  <h3 class="company">SunPower</h3>
  <div class="location">Seattle, WA</div>
  July 2022–Present
  <ul>
    <li>
      Led design and development of a unified workflow orchestration team and
      service by seeking out and talking to internal engineers and customers,
      freeing engineers across three teams from working on similar solutions
    </li>
    <li>
      Championed a blameless incident postmortem culture by mentoring managers
      and engineers, and coordinating & collaborating with principal engineers
      to create a template and review pipeline, leading the company from
      performing ~1 to performing ~10 postmortems per month
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Staff Software Engineer</div>
  @
  <h3 class="company">FalconX</h3>
  <div class="location">Seattle, WA</div>
  January 2022–June 2022
  <ul>
    <li>
      Improved internal developer experience and onboarding by building internal
      CLI to manage monolith complexity, reducing time-to-first-commit for new
      engineers from 3 weeks to 2 days
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Staff Software Engineer</div>
  @
  <h3 class="company">YourBase</h3>
  <div class="location">Seattle, WA</div>
  April 2020–January 2022
  <ul>
    <li>
      Ideated & led a company pivot from proprietary CI product to an
      <a href="https://vimeo.com/530517699" target="_blank"
        >installable library</a
      >
      which gave an ~80% benefit for ~1% onboarding effort, directly leading to
      signing large B2B customers including Yelp, PayPal, Gusto, and Instacart
    </li>
    <li>
      Further scaled test selection libraries for Python and Ruby using a
      packaged Go binary as a performant backend, bringing customer test times
      from 1+ hour to ~10 minutes
    </li>
    <li>
      Independently discovered and optimized slow database queries within 2
      weeks of joining by replacing raw queries with ORM relationships, bringing
      the most-used API endpoint from &gt;12s down to &lt;50ms
    </li>
    <li>Exited via acquisition January 2022</li>
  </ul>
</div>
<div class="job">
  <div class="role">Technical Founder</div>
  @
  <h3 class="company">Splits.io</h3>
  <div class="location">Seattle, WA</div>
  January 2019–April 2020
  <ul>
    <li>
      Improved and hardened infrastructure by moving from raw EC2 instances to
      autoscaled, fault-tolerant, and load-balanced containers, reducing
      incidents from ~2/week to ~1/6mo and reducing ongoing infrastructure needs
      ever since to ~nothing
    </li>
    <li>
      Improved business strategy and finances by performing user interviews and
      creating premium product tier, bringing revenue from ~$30/mo to ~$500/mo
    </li>
    <li>
      Wore many hats by engaging in customer support, events, and product-based
      marketing, improving monthly active users from ~10k to ~15k in one year
    </li>
    <li>
      Recruited and led a team of three by hiring from existing open source
      contributors and community members, ~doubling engineering velocity and
      creating our first sales and ops roles, leading to partnerships with
      external organizations like Games Done Quick
    </li>
  </ul>
</div>
<div class="job">
  <div class="role">Senior Software Engineer</div>
  @
  <h3 class="company">Twitch</h3>
  <div class="location">San Francisco, CA</div>
  2014–2019
  <ul>
    <li>
      Built, scaled, and
      <a href="https://www.twitch.tv/videos/93570710">ran panels on</a>
      foundational products like Twitch Chat, improving user trust and community
      building
    </li>
    <li>
      Rearchitected authentication and authorization in follow-up response to
      security P1 by advocating for, founding, and building the Identity team,
      removing credential-related information from all future known security
      incidents
    </li>
    <li>
      Built the platform's first spam filter using a naive Bayes classifier,
      reducing on-site bots, scams, and abuse
    </li>
    <li>
      Merged disparate social graphs with an acquired company by building a
      transitionary interoperability service, quickly enabling a seamless,
      interleaved user experience far ahead of merged databases
    </li>
    <li>
      Ran
      <a href="https://www.twitch.tv/videos/93570710" target="_blank">panels</a
      >; helped creators and fans interact in socially healthy ways
    </li>
    <li>Led to $1B acquisition by Amazon</li>
  </ul>
</div>
<div class="job">
  <div class="role">Software Engineering Intern</div>
  @
  <h3 class="company">Lawrence Livermore National Laboratory</h3>
  <div class="location">Livermore, CA</div>
  2010–2013 (summers)
  <ul>
    <li>
      Built
      <a href="https://github.com/esgf" target="_blank">open source tools</a>
      for the climate science community
    </li>
  </ul>
</div>

<h2>Skills</h2>
<li>
  Software engineering, architecture design, rapid prototyping, developer
  operations, incident management, mentoring, technical writing, open source /
  community management
</li>

<h2>Technical Skills</h2>
<ul>
  <li>
    Go, Ruby, Python, JavaScript, HTML/CSS, AWS, DynamoDB, Firebase, Vue,
    Docker, PostgreSQL, Terraform, AWS CDK
  </li>
</ul>

<div class="print-hidden">
  <h2>Follow Up</h2>
  <p>
    <a href="mailto:ben@twos.dev">Email me</a> or
    <a href="https://twos.dev/ben-carlsson-resume.pdf" target="_blank"
      >see a PDF version</a
    >
  </p>
</div>

<h2>Education</h2>
<ul>
  <li>
    <b>Bachelor of Science</b> in <b>Computer Science</b> from California State
    University, Chico
  </li>
</ul>
