---
date: 2021-04-27
filename: index.html
type: page
updated: 2023-11-10
---

<div style="margin: auto; text-align: center">
  <h1 class="site-title">twos.dev</h1>
  <nav class="socials">
    <!-- Contact card icon created by Anton Kovalev from Noun Project under Creative Commons. -->
    <a class="black-icon" href="benjamincarlsson.vcf"
      ><img alt="Contact card icon" src="/img/contact-card.svg" /></a
    ><a class="white-icon" href="mailto:ben@twos.dev" target="_blank"
      ><img alt="Email icon" src="/img/index-email.png" /></a
    ><a class="white-icon" href="https://linkedin.com/in/ben" target="_blank"
      ><img alt="LinkedIn logo" src="/img/index-linkedin-dark.png" /></a
    ><a class="white-icon" href="https://hachyderm.io/@glacials" target="_blank"
      ><img alt="Mastodon logo" src="/img/index-mastodon-dark.svg" /></a
    ><a class="white-icon" href="https://github.com/glacials" target="_blank"
      ><img alt="GitHub logo" src="/img/index-github-dark.svg" /></a
    ><a class="white-icon" href="https://x.com/glcls" target="_blank"
      ><img alt="X logo" src="/img/index-x.svg"
    /></a>
  </nav>
</div>

<p>
  I'm <b>Ben</b>, and you've reached my dumping ground for my various hobbies.
</p>
<p>
  I'm passionate about the climate crisis, open source software, photography,
  interior design, and video games.
</p>

<p>Some recent posts of mine are below.</p>
{{ template "src/templates/_writing.html.tmpl" }}
