---
date: 2021-04-27
filename: index.html
type: page
updated: 2023-10-24
---

<div style="margin: auto; text-align: center">
  <h1>Ben Carlsson</h1>
  <p>
    <a href="benjamincarlsson.vcf">Contact card</a>
  </p>
  <nav class="socials">
    <a href="mailto:ben@twos.dev" target="_blank"
      ><img alt="Email icon" src="/img/index-email.png" /></a
    ><a href="https://linkedin.com/in/ben" target="_blank"
      ><img alt="LinkedIn logo" src="/img/index-linkedin-dark.png" /></a
    ><a href="https://hachyderm.io/@glacials" target="_blank"
      ><img alt="Mastodon logo" src="/img/index-mastodon-dark.svg" /></a
    ><a href="https://github.com/glacials" target="_blank"
      ><img alt="GitHub logo" src="/img/index-github-dark.svg" /></a
    ><a href="https://x.com/glcls" target="_blank"
      ><img alt="X logo" src="/img/index-x.svg"
    /></a>
  </nav>
</div>

<p>
  I'm <b>Ben</b>, and this website is a window into my various hobbies. I'm
  passionate about the <b>climate crisis</b>, <b>open source software</b>,
  <b>photography</b>, <b>interior design</b>, and <b>video games</b>.
</p>

<h2>2023</h2>
<p>In 2023 Summer and I visited Paris, Tokyo, and northern China.</p>

<h2>2022</h2>
<p>
  In 2022 I came out as autistic, continued with my photography hobby, and
  started writing more.
</p>

<h2>2021</h2>
<p>In 2021 I started learning interior design and photography.</p>
