---
date: 2021-04-27
updated: 2023-10-13
filename: index.html
type: page
---

<div style="margin: auto; text-align: center">
  <h1>Benjamin Carlsson</h1>
  <p>That is my name.</p>
  <p>I am happily experiencing clouds in Seattle.</p>
  <p>
    <a href="benjamincarlsson.vcf">Contact card</a>
  </p>
  <nav class="socials">
    <a href="mailto:ben@twos.dev" target="_blank"
      ><img alt="Email icon" src="/img/index-email.png" /></a
    ><a href="https://linkedin.com/in/ben" target="_blank"
      ><img alt="LinkedIn logo" src="/img/index-linkedin-dark.png" /></a
    ><a href="https://hachyderm.io/@glacials" target="_blank"
      ><img alt="Mastodon logo" src="/img/index-mastodon-dark.svg" /></a
    ><a href="https://github.com/glacials" target="_blank"
      ><img alt="GitHub logo" src="/img/index-github-dark.svg" /></a
    ><a href="https://x.com/glcls" target="_blank"
      ><img alt="X logo" src="/img/index-x.svg"
    /></a>
  </nav>
</div>

<!--
<h2>2023</h2>
<p>
  In 2023 Summer and I visited Paris, Harbin, Daqing, and Tokyo. I switched
  camera systems to
  <a href="https://en.wikipedia.org/wiki/Micro_Four_Thirds_system"
    >Micro Four Thirds</a
  >.
</p>
<div class="photo-grid">
  {{ with 2023 }}
  {{ range index gallery . }}
    <a href="{{ .PageLink }}">
      <img class="silly" src="{{ .WebPath }}" />
    </a>
  {{ end }}
{{ end }}
</div>
-->
<h2>2022</h2>
<p>
  In 2022 I came out as autistic, continued with my photography hobby, and
  started writing more.
</p>
<div class="photo-grid">
  {{ with 2022 }}
    {{ range (index gallery .) }}
      <label class="gallery-item">
        <input type="checkbox" name="gallery" />
        <img class="silly" src="{{ .WebPath }}" />
        <div class="caption"></div>
      </label>
    {{ end }}
  {{ end }}
</div>

<h2>2021</h2>
<p>In 2021 I started learning interior design and photography.</p>
<div class="photo-grid">
  {{ with 2021 }}
    {{ range (index gallery .) }}
      <label>
        <input type="checkbox" name="gallery" />
        <div class="overlay"></div>
        <img class="silly" src="{{ .WebPath }}" />
        <div class="caption"></div>
      </label>
    {{ end }}
  {{ end }}
</div>
