---
date: 2023-10-23
filename: photos.html
type: page
---

<h1>Photos</h1>

<p>I post thirteen photos per year.</p>

{{ template "_gallery.html.tmpl" "2022" }}
{{ template "_gallery.html.tmpl" "2021" }}
