---
date: 2021-04-27
filename: photos.html
type: page
updated: 2023-12-20
---

<h1>Photos</h1>

<p>I post thirteen photos per year.</p>

{{ template "_gallery.html.tmpl" "2023" }}
{{ template "_gallery.html.tmpl" "2022" }}
{{ template "_gallery.html.tmpl" "2021" }}
