---
date: 2021-12-14
filename: tattoo_symbols.html
type: page
---

<h1>Tattoo Symbolism</h1>

<figure>
  <img src="img/tattoo.webp" height="512" width="512" /><br />
  <figcaption>
    (artist:
    <a href="https://www.instagram.com/trejen_jamal/" target="_blank">Trejen</a
    >)
  </figcaption>
</figure>

<p>There are three components. Top to bottom:</p>

<ol>
  <li>
    <a href="https://en.wikipedia.org/wiki/Helm_of_Awe" target="_blank"
      >Aegishjalmer</a
    >, a protection sigil
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/Yggdrasil" target="_blank"
      >Yggdrasil</a
    >, the worlds tree
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/Jörmungandr" target="_blank"
      >Jörmungandr</a
    >, the world serpent
  </li>
</ol>
<p>Givens, by Viking mythology:</p>
<ul>
  <li>Yggrassil holds the worlds together</li>
  <li>
    Jörmungandr is biting its own tail; if it releases, it is an indicator of a
    coming
    <a href="https://en.wikipedia.org/wiki/Ragnarök" target="_blank"
      >Ragnarök</a
    >
    (drowning of the world)
  </li>
</ul>
<p>Tattoo key points:</p>
<ul>
  <li>Yggrassil is on fire</li>
  <li>A jailed Jörmungandr is at its roots</li>
</ul>
<p>The rest is left to the reader.</p>
