name: Build and deploy
on:
  push:
    branches: [main]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.21"

      - name: Pull down config.org
        run: curl https://raw.githubusercontent.com/glacials/dotfiles/main/emacs/.config/emacs/config.org > src/warm/config.org

      - name: Test & build Winter
        run: |
          go install twos.dev/winter@latest

      - name: Build twos.dev
        run: |
          winter build

      - name: Sanity check
        run: test -f dist/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: dist
